@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

:root {
  --logo-bg: rgba(0, 0, 0, 0.3);
  --logo-color: white;
  --signup-el-pd: 0 50px;
  --signup-el-pd-sm: 10px 20px;
  --create-btn-color: #596D48;
  --input-radius: 5px;
  --general-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  --btn-hover-color: #9eaa8f;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

.container {
  display: flex;
  min-height: 100vh;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0;
  background: url(./assets/cover.jpg) center no-repeat;
}

.logo {
  position: relative;
  top: 20%;
  background-color: var(--logo-bg);
  color: var(--logo-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  max-width: max(25%, 100px);
}

.logo-txt {
  font-size: max(5vw, 2rem);
}

.attribution {
  text-align: center;
  color: var(--logo-color);
  background-color: var(--logo-bg);
}

.attribution a {
  color: var(--logo-color);
}

.signup {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
}

.signup-description, .signup-form-inputArea, .signup-form-create, .signup-form-login {
  padding: var(--signup-el-pd);
}

.signup-description {
  padding-top: 20%;
  padding-bottom: 50px;
}

.signup-description p {
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.signup-form { 
  width: 100%;
  flex-grow: 1;
}

.signup-form-cta {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 20px;
}

.signup-form-inputArea {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  box-shadow: var(--general-shadow);
  padding-right: 20vw;
}

.signup-form-inputs {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  list-style-type: none;
  justify-content: space-between;
}

.signup-form-inputs li {
  width: 50%;
  min-width: 200px;
  margin: 15px 0;
}

.signup-form-inputs input {
  width: clamp(200px, 90%, 330px);
  padding: var(--input-radius);
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  
}

.signup-form-inputs input:focus {
  border: 2px solid var(--btn-hover-color);;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.signup-form label {
  display: block;
}

.signup-form-create button {
  padding: 10px 50px;
  margin: 20px 0;
  border: 0;
  border-radius: var(--input-radius);
  font-weight: 700;
  color: white;
  background-color: var(--create-btn-color);
  box-shadow: var(--general-shadow);
  cursor: pointer;
}

.signup-form-create button:hover {
  background-color: var(--btn-hover-color);
}

.signup-form-login a {
  font-weight: 700;
  color: var(--create-btn-color);
  text-decoration: none;
}

.signup-form-login a:hover {
  color: var(--btn-hover-color);
}

@media screen and (max-width: 840px) {
  .container {
    flex-direction: column;
  }

  .cover {
    justify-content: center;
    max-height: 20vh;
  }

  .logo {
    max-height: 20vh;
  }

  .logo-img {
    width: max(80px, 15vw);
    padding: 10px;
  }

  .attribution {
    display: none;
  }

  .signup-description {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .signup-form-inputs li {
    margin: 5px 0;
    width: min(250px, 100%);
  }

  .signup-form-inputs input {
    width: max(200px, 100%);
  }
}

@media screen and (max-width: 320px) {
  .signup-description, .signup-form-inputArea, .signup-form-create, .signup-form-login {
    padding: var(--signup-el-pd-sm);
  }
}