@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

.container {
  display: flex;
  min-height: 100vh;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background: url(./assets/cover.jpg) center no-repeat;
}

.logo {
  position: relative;
  top: 30%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  max-width: 30%;
}

.signup {
  flex-grow: 3;
}